<head>
<style>
body {
    background-color: linen;
}

h1 {
    color: maroon;
    margin-left: 40px;
} 

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
    height: 24px;
}

a{
    text-decoration: none;
}
nav button{
  background-color: lightgreen;
  color: black;
  font: sans-serif;
  font-size: 18px;
  border-radius: 5px;
  width: 150px;
  height: 60px;
  display: inline;
}

.btn:hover
{
background-image:none;
background-color:green;
}

</style>

</head>

<nav >
<button class="btn"><a href="/contacts/">Home</a></button>
<button class="btn"><a href="/contacts/create">Add Contact</a></button>
</nav>

{% if people_list %}
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Phone</th> 
    <th>eamil</th>
    <th>Update</th> 
    <th>Delete</th>
  </tr>
  {% for people in people_list %}
 <!-- {% url "contacts:detail" id=people.id %} -->
  <tr>
    <td><a href='{{ people.get_absolute_url }}'>{{ people.name }}</a></td>
    <td>{{ people.phone }}</td>
    <td>{{ people.email }}</td> 
    <td><button><a href="/contacts/{{ people.id }}/edit">Update</a></button></td> 
    <td><button><a href="/contacts/{{ people.id }}/delete">Delete</a></button></td>
    {% endfor %}
  </tr>

</table>
{% else %}
    <p>No contacts are available.</p>
    <button><a href="/contacts/create">Add New Contact</a></button>
{% endif %}